@use '../vars' as *;
@use '../mixins' as *;

:root {
  --header__callHeight: 0%;
}

.header {
  position: absolute;
  width: 100%;
  background-color: rgba($black-bg, 0.85);
  z-index: 10;

  &__container {
    position: relative;
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $laptop-small) {
      background-color: $black-bg;
    }
    @media (min-width: calc($mobile-small + 1px)) {
      gap: 2rem;
    }
    @media (max-width: $mobile-small) {
      gap: 1rem;
    }
  }

  &__logo {
    @include focus-effect;
    @media (min-width: calc($laptop-small + 1px)) {
      height: 3.5rem;
    }
    @media (max-width: $laptop-small) {
      height: 2.5rem;
      margin-right: auto;
    }
    img {
      height: 100%;
    }
  }

  &__list {
    transition: 0.25s;
    display: flex;
    align-items: center;
    overflow: auto;
    text-transform: uppercase;
  
    @media (min-width: calc($laptop-small + 1px)) {
      font-size: 1rem;
      color: $white;
      font-weight: 400;
      padding: 2.25rem 0;
      margin: 0 auto;
      &-item {
        padding: 2.25rem 0.5rem;
        @include hover-fall-effect;
        @include focus-effect($outline-offset: -0.25rem);
      }
    }
    @media (max-width: $laptop-small) {
      font-size: 1.75rem;
      color: $black-text;
      background-color: $white;
      font-weight: 700;

      padding: 0.5em $padding-container;
      margin-top: var(--header__callHeight);

      gap: 0.5em;
      flex-direction: column;
      max-height: calc(100vh - 100% - var(--header__callHeight));

      z-index: -1;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      transform: translateY(-100%);
      visibility: hidden;
      &.active {
        visibility: visible;
        transform: translateY(0%);
      }

      &-item {
        @include focus-effect($outline-color: $red, $outline-offset: 0.25rem);
      }
    }
  }

  &__call {
    @media (min-width: calc($laptop-small + 1px)) {
      font-size: 0.75rem;
    }
    @media (max-width: $laptop-small) {
      font-size: 1.25rem;
      background-position-y: 0%;
      position: absolute;
      width: 100%;
      top: 100%;
      left: 0;
    }
  }

  &__icon {
    background-color: transparent;
    height: 2rem;
    img {
      height: 100%;
    }
  }
}